<%- include('header'); -%>
<%- include('navbar'); -%>

<!-- about page -->
<br><br><br><br><br>
<div class="card mx-auto text-center" id="cardStyle">
  <div class="card-body">
    <h1>Our Mission</h1>
    <p class="text-white"> Claster is a student developed project that aims to provide an integrated study discussion platform that solves underserved needs. It provides online student discussion, face-to-face study group meetup, and tutor tutee mentoring.</p>
  </div>
</div>


<br><br>
<div class="card mx-auto text-center" id="cardStyle">
  <div class="card-body">
    <h1>Our Team</h1>
  </div>
</div>

<div class="container">
  <br><br>

  <div class="row">
    <div class="col">
      <div class="card">
        <img src="images/Iris.jpeg" alt="Iris" style="width:100%">
        <div class="container">
          <h2>Iris Hao</h2>
          <p class="title">Business Development</p>
          <p>Iris is a Junior at Brandeis University double majoring in Business and IGS. </p>
          <p>yhao@brandeis.edu</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="col">
     <div class="card">
       <img src="images/Iris.jpeg" alt="Mike" style="width:100%">
       <div class="container">
         <h2>Hangyu Du</h2>
         <p class="title">Fron End Developer</p>
         <p> Hangyu is a Junior at Brandeis University majoring in computer science. </p>
         <p>example@example.com</p>
         <p><button class="button">Contact</button></p>
       </div>
     </div>
   </div>

   <div class="col">
     <div class="card">
       <img src="images/Iris.jpeg" alt="John" style="width:100%">
       <div class="container">
         <h2>John Doe</h2>
         <p class="title">Designer</p>
         <p>Some text that describes me lorem ipsum ipsum lorem.</p>
         <p>example@example.com</p>
         <p><button class="button">Contact</button></p>
       </div>
     </div>
   </div>
  </div>
  
</div>



<%- include('footer'); -%>
