<%- include('header') -%>
<%- include('navbar') -%>

<div class="jumbotron masthead text-center text-center" id="superView">
  <div class="card mx-auto" id="cardStyle">
    <div class="card-body">
      <h1>Login to <b>Ladder</b> </h1>
      <h4> You would need a Google account to login</h4>
      <br>
      <a class="btn btn-primary" href="/auth/google">
        <span class="fa fa-google-plus"> Login with Google</span>
      </a>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small blue fixed-bottom">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 <a href="http://www.brandeis.edu">Brandeis University</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
